<div class="tab-pane active" id="SearchAreaTabs-3" role="tab-panel">
  <div class="theme-search-area">
    <div class="theme-search-area-form">
      <div class="row" data-gutter="10">
        <div class="col-md-5 ">
          <div class="row" data-gutter="10">
            <div class="col-md-6 ">
              <div
                class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-fade-white">
                <div class="theme-search-area-section-inner">
                  <i class="theme-search-area-section-icon lin lin-location-pin"></i>

                  <input
                    (focus)="setData($event)"
                    (keyup)="setData($event)"
                    (blur)="onBlur()"
                    autofocus
                    class="theme-search-area-section-input typeahead"
                    type="text"
                    value=""
                    data-provide="typeahead">

                  <ul class="typeahead dropdown-menu" role="listbox" [class.hidden]="!airportDepartureBool"
                      style="top: 55px; left: 0px; display: block; width: auto;">
                    <li *ngFor="let airport of airportData;" class="" (click)="setDepAirport($event)">
                      <a (click)="setDepAirport($event)"
                         class="dropdown-item"
                         [attr.code]="airport.code" >
                        {{airport.code}} -
                        {{airport.name}} -
                        {{airport.country_name}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div
                class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-fade-white">
                <div class="theme-search-area-section-inner">
                  <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                  <input class="theme-search-area-section-input typeahead" type="text" placeholder="Arrival"
                         data-provide="typeahead">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="row" data-gutter="10">
            <div class="col-md-4 ">
              <div
                class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-fade-white">
                <div class="theme-search-area-section-inner">
                  <i class="theme-search-area-section-icon lin lin-calendar"></i>
                  <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27"
                         type="text" placeholder="Check-in">
                  <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27"
                         type="date">

                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div
                class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-fade-white">
                <div class="theme-search-area-section-inner">
                  <i class="theme-search-area-section-icon lin lin-calendar"></i>
                  <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text"
                         placeholder="Check-out">
                  <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02"
                         type="date">
                </div>
              </div>
            </div>
            <div class="col-md-4 ">

              <div
                class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-fade-white quantity-selector"
                data-increment="Passengers">
                <div class="theme-search-area-section-inner">
                  <i class="theme-search-area-section-icon lin lin-people"></i>
                  <input class="theme-search-area-section-input" value="1 Passenger" type="text">
                  <div class="quantity-selector-box" id="FlySearchPassengers">
                    <div class="quantity-selector-inner">
                      <p class="quantity-selector-title">Passengers</p>
                      <ul class="quantity-selector-controls">
                        <li class="quantity-selector-decrement">
                          <a href="#">-</a>
                        </li>
                        <li class="quantity-selector-current">1</li>
                        <li class="quantity-selector-increment">
                          <a href="#">+</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 ">
          <button
            class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved theme-search-area-submit-primary">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="theme-search-area-options theme-search-area-options-center clearfix">
      <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="flight-options" id="flight-option-1" checked="">Round Trip
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="flight-options" id="flight-option-2">One Way
        </label>
      </div>
    </div>
  </div>
</div>
