<div class="theme-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="theme-copyright-text">Copyright © 2018
          <a href="#">Bookify</a>. All rights reserved.
        </p>
      </div>
      <div class="col-md-6">
        <ul class="theme-copyright-social">
          <li>
            <a class="fa fa-facebook" href="#"></a>
          </li>
          <li>
            <a class="fa fa-google" href="#"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="#"></a>
          </li>
          <li>
            <a class="fa fa-youtube-play" href="#"></a>
          </li>
          <li>
            <a class="fa fa-instagram" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
