<nav
  class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-transparent navbar-theme-border"
  id="main-nav">
  <div class="container">
    <div class="navbar-inner nav">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button"
                area-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img src="../../../../assets/img/logo-1.png" alt="Image Alternative text" title="Image Title">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="active dropdown">
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="_desk-h">Currency</span>
              <b>USD</b>
            </a>
            <div class="dropdown-menu dropdown-menu-xxl">
              <h5 class="dropdown-meganav-select-list-title">Popular Currencies</h5>
              <div class="row" data-gutter="10">
                <div class="col-md-3">
                  <ul class="dropdown-meganav-select-list-currency">

                    <li class="active">
                      <a href="#">
                        <span>US$</span>U.S. dollar
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="_desk-h">Language</span>
              <img class="navbar-flag" src="../../../../assets/img/flags/USA.png" alt="Image Alternative text"
                   title="Image Title">
            </a>
            <div class="dropdown-menu dropdown-menu-xxl">
              <h5 class="dropdown-meganav-select-list-title">Languages</h5>
              <div class="row" data-gutter="10">
                <div class="col-md-3">
                  <ul class="dropdown-meganav-select-list-lang">
                    <li>
                      <a href="#">
                        <img src="../../../../assets/img/flag_codes/UK.png" alt="Image Alternative text"
                             title="Image Title">English(UK)
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="navbar-nav-item-user dropdown">
            <a class="dropdown-toggle" href="account.html" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>My Account
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="account.html">Preferences</a>
              </li>
              <li>
                <a href="account-notifications.html">Notifications</a>
              </li>
              <li>
                <a href="account-cards.html">Payment Methods</a>
              </li>
              <li>
                <a href="account-travelers.html">Travelers</a>
              </li>
              <li>
                <a href="account-history.html">History</a>
              </li>
              <li>
                <a href="account-bookmarks.html">Bookmarks</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
